@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        @apply pt-6 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500;
    }
    form {
        @apply px-5 py-6 bg-gray-800 w-screen md:w-4/5 lg:w-3/5 xl:w-1/3 md:m-auto rounded;
    }
    header {
        @apply p-5 mb-10 text-blue-100 bg-gray-700 rounded;
    }
    header h2 {
        @apply text-xl font-bold text-gray-100;
    }
    form>div {
        @apply sm:flex sm:space-x-4 mb-4;
    }

    label + div {
        @apply sm:flex-1;
    }
    fieldset {
        @apply mb-6 block;
    }
    .desc {
        @apply block mb-2 sm:w-36 xl:text-right text-sm text-blue-100 font-bold;
    }
    input[type=text] {
        @apply w-full xl:w-1/2 bg-gray-900 text-gray-100 border-gray-900 rounded;
    }
    input[type=email] {
        @apply w-full xl:w-1/2 bg-gray-900 text-gray-100 border-gray-900 rounded;
    }
    textarea {
        @apply w-full xl:w-1/2 bg-gray-900 text-gray-100 border-gray-900 rounded;
    }
    legend {
        @apply sm:float-left sm:mr-4;
    }
    legend+div {
        @apply overflow-hidden;
    }
    .choice {
        @apply text-sm text-gray-100;
    }
    select {
        @apply text-gray-100 bg-gray-600 mb-6;
    }
    input[type=submit] {
        @apply px-8 py-4 sm:ml-40 uppercase font-bold bg-blue-500 text-blue-100 rounded;
    }
}